.GeneratorPage{
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: white;
}

.title{
    margin: 0;
    margin-top: 10vh;
    font-family: "PMingLiU", 'Noto Serif TC', serif;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 5px;
}

.subtitle{
    margin: 0;
    font-family: "PMingLiU", 'Noto Serif TC', serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 40px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formRow{
    margin-bottom: 10px;
    font-weight: 500;
}

.formLabel{
    margin-right: 8px;
}

.formInput{
    padding: 5px 7px;
    border: 1px black;
}

.submitButton{   
    -webkit-appearance: none;
    background-color: white;
    font-size: 15px;
    padding: 8px;
    margin-top: 20px;
    align-self: stretch;
    margin-bottom: 25px;
    font-weight: 600;
    border-radius: 5px;
}

.restartButton{
    -webkit-appearance: none;
    background-color: white;
    font-size: 18px;
    margin-bottom: 25px;
    padding: 8px;
    font-weight: 600;
    align-self: stretch;
    -webkit-appearance: none;
    border-radius: 5px;
}

.idCard{
    display: none;
    margin-top: 30px;
    margin-bottom: 70px;
}

.idCard_default{
    width: 588px; 
    height: 364px;
    margin-bottom: 40px;
}

.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.end{
    margin: 0;
    font-size: 40px;
    margin-bottom: 15px;
}

.saveNote{
    font-size: 20px;
    margin: 0;
    margin-bottom: 25px;
}

.shareContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.shareMessage{
    margin: 0;
    margin-right: 5px;
    font-size: 12px;
}

.hashtag{
    margin: 0;
    font-size: 12px;
    margin-bottom: 10vh;
    color: #E1306C;
}

@media only screen and (max-width: 800px){
    .idCard_default{
        width: 500px; 
        height: 310px;
        margin-bottom: 35px;
    }

    .idCard{
        width: 500px; 
        height: 310px;
        margin-bottom: 60px;
    }

    .subtitle{
        margin-bottom: 35px;
    }
}

@media only screen and (max-width: 600px){    
    .idCard_default{
        width: 412px; 
        height: 255px;
        margin-bottom: 30px;
    }

    .idCard{
        width: 412px; 
        height: 255px;
        margin-bottom: 55px;
    }

    .title{
        font-size: 45px;
        margin-top: 8vh;
    }

    .subtitle{
        font-size: 17px;
        margin-bottom: 30px;
    }

    .end{
        font-size: 30px;
        margin-bottom: 15px;
    }

    .saveNote{
        font-size: 16px;
    }
}

@media only screen and (max-width: 475px){
    .idCard_default{
        width: 353px; 
        height: 219px;
        margin-bottom: 25px;
    }
    
    .idCard{
        width: 353px; 
        height: 219px;
        margin-bottom: 50px;
    }

    .title{
        font-size: 35px;
        margin-top: 6vh;
    }

    .subtitle{
        font-size: 14px;
        margin-bottom: 25px;
    }

    .end{
        font-size: 25px;
    }

    .saveNote{
        font-size: 14px;
    }

    .submitButton{
        margin-bottom: 15px;
    }
    .restartButton{
        margin-bottom: 15px;
    }

    .shareMessage{
        font-size: 10px;
    }

    .hashtag{
        font-size: 10px;
    }
}

@media only screen and (max-width: 375px){
    .idCard_default{
        width: 294px; 
        height: 182px;
    }
    
    .idCard{
        width: 294px; 
        height: 182px;
        margin-bottom: 45px;
    }

    .title{
        font-size: 28px;
        margin-top: 4vh;
    }

    .subtitle{
        font-size: 14px;
    }

    .end{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .saveNote{
        font-size: 12px;
    }

    .formRow{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 300px){
    .idCard_default, .idCard{
        width: 236px; 
        height: 146px;
    }

    .title{
        font-size: 25px;
        margin-top: 4vh;
    }

    .subtitle{
        font-size: 12px;
    }

    .end{
        font-size: 17px;
        margin-bottom: 10px;
    }

    .saveNote{
        font-size: 12px;
    }
}